@charset "utf-8";

table {
	font-size: 2em;
	border: 1px solid gray;
	border-collapse: collapse;
}

th {
	border: 1px solid gray;
	border-collapse: collapse;
	text-align: left;
	padding: 3px;
}

td {
	border: 1px solid gray;
	border-collapse: collapse;
	text-align: right;
	padding: 3px;
}
